<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Admin Panel</title>
</head>
<body>
Witaj
<span th:text="${#request.userPrincipal.principal.username}"></span>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout">
</form>
<div class="container">
    <table class="table table-hover table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nick</th>
            <th scope="col">Email</th>
            <th scope="col">Created on</th>
            <th scope="col">Last login</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody th:each="user : ${users}">
        <tr>
            <th scope="row" th:text="${user.id}"></th>
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.createdOn}"></td>
            <td th:text="${user.lastLogin}"></td>
            <div class="row">
                <td>
                    <div class="col">
                        <form th:action="@{edit/__${user.id}__}">
                            <input class="btn btn-primary" type="submit" value="Edit"/>
                        </form>
                    </div>
                    <div class="col">
                        <form th:action="@{delete/__${user.id}__}">
                            <input class="btn btn-danger" type="submit" value="Delete"/>
                        </form>
                    </div>
                </td>
            </div>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <a href="add">
                <button type="button" class="btn btn-dark">Create user</button>
            </a>
        </div>
    </div>
</div>
</body>
</html>