<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <title>Login page</title>
</head>
<body style="background-color: black;">
    <div class="container">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">
                <div class="" th:if="${param.confirmed}">
                    <p>Account confirmed!</p>
                </div>
                <div class="" th:if="${param.logout}">
                    <p>You have been logged out!</p>
                </div>
                <div class="" th:if="${param.email}">
                    <p>Email sent!</p>
                </div>
                <div class="" th:if="${param.success}">
                    <p>Please complete registration process by email</p>
                </div>
                <form th:action="@{login}" th:object="${user}" method="post">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" th:field="*{email}">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error name</p>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" th:field="*{password}" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error name</p>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Remember me</label>
                    </div>
                    <div class="alert alert-danger" th:if="${param.error}">
                        <p>Email or Password is invalid</p>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <a href="/register"><button class="btn btn-primary">Create account</button></a>
            </div>
            <div class="col-sm"></div>
        </div>
    </div>
</body>
</html>